


*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrap {
  width: 90%;
  margin: 0 auto;

}

.image-header {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
}


@media screen and (max-width:800px) {
  .col1, h1 {
    float: center;
    text-align: center;
    vertical-align: baseline;
  }
  .navbar{
  display: block;
  vertical-align: bottom;
  }

  .col1, .col2, {
    float: none;
    width: 100%;
    margin: 0;
  }

  .images {
    column-count: 2;
    float: center;
    text-align: center;
  }
}

@media screen and (min-width:801px) {

  .col1 {
    float: left;
    max-width: 25%;
    background-color: red;
    vertical-align: baseline;
    /*margin-right: 40em;*/
  }

  .col2 {
    float: right;
    max-width: 75%;
    margin-top: 20em;


  }
  .navbar{

    background-color: green;
  }


  .images{
    column-count: 3;
  }

}
