*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrap {
  width: 90%;
  margin: 0 auto;

}

.image-header, .images, .col1, h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

img {
  max-width: 100%;
}

/*biggest*/
@media screen and (min-width: 900px) {
  .wrap{
    position: relative;
  }
  .col1 {
    float: left;
    width: 30%;
  }

  .navbar {
    position: absolute;
    width: 70%;
    top: -5em;
    right: 0em;
  }

  .navbar li {
    width: 6em;
    display: inline-block;
    margin: 0 auto;

  }


  .logo {
    margin-top: 5em;
    background-color: pink;
  }
  .col2 {
    float: right;
    margin-left: 10em;
    position: absolute;
    top: -5em;
    width: 70%;
    column-count: 1;
  }

  .images {


  }

}

/*bigger*/
@media screen and (min-width:600px) {
  .wrap{
    position: relative;
  }
  .col1 {
    clear: both;
    float: left;
    width: 25%;
  }

  .navbar {
    margin-top: 5em;
  }
  .logo {
    margin-top: 5em;
  }
  .col2 {
    float: right;
    margin-left: 10em;
    position: relative;
    bottom: 15em;
    width: 70%;
  }

  .images {
    column-count: 3;
  }

}

/*MOBILE*/
@media screen and (max-width:599px) {
  .col1, h1 {
    float: center;
    text-align: center;
    vertical-align: baseline;
}
.images{
  column-count: 2;
}




















/*.col1, .col2, {
  float: none;
  width: 100%;
  margin: 0;
}*/
}
/*@media screen and (max-width:800px) {

  }
  .navbar{
  display: block;
  vertical-align: bottom;
  }

  .col1, .col2, {
    float: none;
    width: 100%;
    margin: 0;
  }

  .images {
    column-count: 2;
    float: center;
    text-align: center;
  }
}

@media screen and (min-width:801px) {

  .logo {
    float: left;
    max-width: 25%;
    background-color: red;
    vertical-align: baseline;
  }
  .navbar {
    margin-bottom: 30em;
  }
  .col2 {
    float: right;
    max-width: 75%;
    margin-top: 20em;


  }
  .navbar{

    background-color: green;
  }


  .images{
    column-count: 3;
  }

}*/
